header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 550px;
  width: 100%;
  background-color: azure;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

header h2 {
  margin: 0.5em;
}

