article.tweet {
  padding: 0.5em;
  margin: 1em;
  border-style: solid;
  margin-top: 20px;
}

article.tweet:hover {
  box-shadow: 5px 5px grey;
}

article.tweet header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: none;
  background-color: #f4f1ec;
  height: 30%;
  font-size: 12pt;
}

article.tweet header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;  
  font-weight: 600;
  height: 15px;
}

article.tweet footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  margin-left: 2%;
  margin-right: 2%;

}

article.tweet header div img {
  max-width: 60px;
}

article.tweet hr {
  border-style: solid;
  border-width: 2px;
  color:black;
}

p.username {
  display:flex;
  align-self: center;
  justify-self: center;
  margin-left: 10px;
}

p.usertag {
  color:rgb(175, 175, 175);
  font-weight: bold;
  display:flex;
  align-self: center;
  justify-self: center;
}

p.tweet-content {
  font-size: medium;
  font-weight: 600;
  margin: 3%;
}


p.icons {
  display: flex;
  justify-content: space-between;
  width: 80px;
  color:black;

}

p.icons i:hover {
  color: red;
}